html,
body {
  background-color: azure;
  height: 100%;
  margin: 0px;
  padding: 0px;
  color: hsl(0, 0%, 50%);
}

body {
  display: flex;
  flex-direction: column;
}

input {
  text-align: center;
}

.locSearchContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 25px;
}
.locSearchContainer > * {
  margin: 5px;
  font-size: large;
}
#locInput {
  height: 30px;
  border: 0px;
  border-radius: 5px;
}
#locSearchBtn {
  background-color: transparent;
  border-radius: 5px;
  border: solid 0px aliceblue;
  box-shadow: 3px 3px hsl(180, 50%, 87%);
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out,
    transform 0.3s ease-in-out;
}
#locSearchBtn:hover {
  /* box-shadow: inset 100px 0 0 0 #54b3d6; */
  /* color: white; */
  box-shadow: 2px 2px hsl(180, 50%, 87%);
}
#locSearchBtn:active {
  transform: translateY(3px);
  box-shadow: 0px 0px hsl(180, 50%, 87%);
}

.weatherCardsContainer {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: larger;
  margin: 35px;
  margin-top: 0px;
  text-align: center;
  max-height: 100%;
}

.weatherCardsContainer div {
  margin: 5px;
}

.geoNameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}

.geoName {
  font-size: 50px;
}

.tempContainer {
  display: flex;
  align-items: center;
}

.rightSide {
  font-size: xx-large;
}

.rightSide > div {
  padding: 5px;
}

.temp {
  font-size: 100px;
  border-right: solid 2px gray;
  padding-right: 15px;
  margin-right: 15px;
}
.tempContainer div {
  margin: 0px 5px;
}
